.timer-container {
  display: flex;
  height: 100vh;
}

.timer-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.timer-time {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 25px;
  color: #fff;
}

.timer-buttons button {
  font-size: 20px;
  padding: 5px 5px;
  margin: 0 10px;
  cursor: pointer;
}

.timer-left,
.timer-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.timer-left {
  background-color: rgba(0, 0, 0, 0.591);
  flex-direction: column;
}

.timer-right {
  background-color: #ffffff;
  flex-direction: column;
  border-left: 2px solid #e0e0e0;
}

.pomo-count {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 35px;
}